body {
    font-family: Helvetica,sans-serif;
    font-weight: bolder;
    font-size: 72pt;
    background-color: #fff;
}

.main-block {
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

.info-block {
  color: #333;
}

.ny-label {
    text-decoration: underline;
}

