body {
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 72pt;
  background-color: #fff;
}

.main-block {
  display: flex;
  min-height: 100vh;
}

#middle-block {
  margin: auto;
}

#info-block {
  color: #333;
}

.ny-label {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}
.ny-label > div:not(:last-child) {
  margin-right: 20px;
  text-transform: uppercase;
}
.ny-label > .prefix-text,
.ny-label > .suffix-text {
  font-size: 54px;
}
